# This program and the accompanying materials are made available under the terms of the
# Eclipse Public License v2.0 which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v20.html

# top-most EditorConfig file

# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
# Tab indentation size 4
indent_style = tab
indent_size = 4
# Set default charset
charset = utf-8
